In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('SCIT10MinData.xlsx', 'DL')
df.columns

Index(['Unnamed: 0', 'Sera', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Hebah', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Natasha', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Safia', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Jecika', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Mackenzie', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Emmanuel', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Total'],
      dtype='object')

In [9]:
mov = df[['Unnamed: 3','Unnamed: 5']]
mov

    Unnamed: 3         Unnamed: 5
0        Start     Classification
1        800.2          tense_LBS
2        800.2           feet_STO
3          802       attention_IR
4          802      awareness_OBT
5          802      awareness_SFA
6          802      awareness_SUB
7          802      vigilance_NVI
8      805.933           arms_RUB
9      805.933           arms_NOA
10       808.2          hands_NOA
11       812.2           feet_NOA
12     813.533           arms_RUB
13     813.533          tense_NOA
14     826.067           head_NOA
15     832.733           head_RAI
16     832.733  communication_VBC
17     832.733   interactions_OSB
18     840.067           arms_RUB
19     840.067           arms_NOA
20     863.133        fingers_PRE
21     863.533     whole_body_NOA
22       863.6           arms_NOA
23     864.067        fingers_WIG
24     865.804           legs_TWI
25     867.267           head_NOA
26     885.133        fingers_WIG
27       886.2           arms_TWI
28     888.963           head_NOA
29     892.063           head_NOA
..         ...                ...
169    1479.76           arms_TWI
170    1479.96           head_TIL
171    1480.89           arms_TWI
172    1480.89       emotions_FCE
173    1482.62        fingers_TWI
174    1486.16           head_RAI
175    1486.89           head_NOA
176    1491.49           arms_TWI
177    1491.76           legs_TWI
178    1513.09           head_NOA
179    1517.56           head_TIL
180    1518.99           toes_TAP
181    1523.52           head_NOA
182    1523.59       emotions_FCE
183    1523.99          hands_TWI
184    1533.26           head_TIL
185    1534.19           head_NOA
186    1534.72           arms_RUB
187    1540.39        fingers_TWI
188    1547.39           head_RAI
189        NaN                NaN
190        NaN                NaN
191        NaN                NaN
192        NaN                NaN
193        NaN                NaN
194        NaN                NaN
195        NaN                NaN
196        NaN                NaN
197        NaN                NaN
198        NaN                NaN

[199 rows x 2 columns]

In [20]:
a = mov['Unnamed: 3'].dropna()
b = mov['Unnamed: 5'].str.contains('arms').dropna()
a[b]

8      805.933
9      805.933
12     813.533
18     840.067
19     840.067
22       863.6
27       886.2
30         894
34     896.329
41     907.667
47       923.4
50     924.733
52     926.833
53     928.733
58       944.8
59     959.733
62     967.333
63       978.6
66     991.933
67     991.933
73      1008.6
125    1373.82
131    1401.56
133    1407.42
140    1421.29
145    1429.42
146    1430.02
150    1434.36
151    1434.76
154    1435.42
163    1464.69
165    1472.09
169    1479.76
171    1480.89
176    1491.49
186    1534.72
Name: Unnamed: 3, dtype: object

In [22]:

a = df['Unnamed: 17'].dropna()
b = df['Unnamed: 19'].str.contains('arms').dropna()
a[b]

16       814.4
19       840.6
28     894.867
38       924.8
40         944
41         944
42     967.067
46       992.1
73     1373.83
81     1429.83
85      1433.9
89     1459.43
93     1472.17
94     1472.17
106     1534.8
Name: Unnamed: 17, dtype: object